<div class="subtitle">Acerca de Stein In</div>

<div class="about-row">
  <div class="fcontainer fcimg">
    <img src="../../assets/Logo_vertical-01.png" alt="Future Club" />
  </div>
  <p class="text">
    Stein In nace como parte del proyecto Future Club de IBM. Busca integrar las
    tecnologías del catalogo de IBM Cloud para responder a la necesidad puntual
    de la información, en este caso, de la industria petrólera.
  </p>

  <p class="text center body-title">Tecnologías usadas en Stein In</p>
  <div class="logos">
    <div class="img-container">
      <img src="../../assets/Watson.png" alt="Watson" />
    </div>
    <div class="img-container">
      <img
        src="../../assets/ibm-cloud-object-storage.svg"
        alt="IBM Cloud Object Storage"
      />
    </div>
    <div class="img-container">
      <img src="../../assets/k8s.png" alt="Kubernetes" />
    </div>
    <div class="img-container">
      <img src="../../assets/tekton-pipelines.png" alt="Tekton" />
    </div>
    <div class="img-container">
      <img src="../../assets/nodejs.png" alt="Nodejs" />
    </div>
    <div class="img-container">
      <img src="../../assets/angular.svg" alt="angular" />
    </div>
    <div class="img-container">
      <img src="../../assets/twitter.png" alt="twitter" />
    </div>
  </div>

  <p class="center body-title" style="margin: 0 0 1em;">Realizado por</p>
  <div style="display: flex; margin: 0 21.5em 2em;">
    <mat-card class="mat-elevation-z6">
      <mat-card-header>
        <div mat-card-avatar class="card-avatar-image"></div>
        <mat-card-title>Jesús Orlando Montoya Mejía</mat-card-title>
        <mat-card-subtitle>IBM Cloud Intern</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content> </mat-card-content>
      <mat-card-actions>
        <a mat-button title="GitHub" href="http://github.com/MGsus">
          <mat-icon
            role="img"
            style="font-size: 25px;"
            fontSet="fab"
            fontIcon="fa-github"
          ></mat-icon
        ></a>
        <a
          mat-button
          title="Mail"
          href="mailto:jesus.orlando.montoya.mejia@ibm.com"
        >
          <mat-icon
            role="img"
            style="font-size: 25px;"
            fontSet="fas"
            fontIcon="fa-envelope"
          ></mat-icon
        ></a>
        <a
          mat-button
          title="LinkedIn"
          href="https://www.linkedin.com/in/jes%C3%BAs-montoya-mej%C3%ADa/"
        >
          <mat-icon
            role="img"
            style="font-size: 25px;"
            fontSet="fab"
            fontIcon="fa-linkedin"
          ></mat-icon
        ></a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
