<div class="row center">
  <form [formGroup]="archiveForm">
    <mat-form-field appearance="outline" style="width: 80%;">
      <mat-label>Ingresa el nombre del archivo con extensión</mat-label>
      <input matInput value="" name="docName" formControlName="docName" />
    </mat-form-field>
    <button mat-button (click)="sendName()" [disabled]="!archiveForm.valid">
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>
<app-loading [condition]="isLoading"></app-loading>
<div *ngIf="isData">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ results.text }}</mat-card-title>
      <mat-card-subtitle *ngFor="let item of data">
        Entidad: {{ item.type }}, Texto identificado: {{ item.text }}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
