<app-loading [condition]="isLoading"></app-loading>
<div class="row">
  <div *ngFor="let item of tweets">
    <mat-card class="tweet-card">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon
            fontSet="fab"
            fontIcon="fa-twitter"
            style="font-size: 35px;"
          ></mat-icon>
        </div>
        <mat-card-title>{{ item.tweet }}</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="card-watson-image"></div>
        <span *ngFor="let elem of item.analysis">
          <mat-card-title> {{ elem.type }}: {{ elem.text }} </mat-card-title>
        </span>
      </mat-card-header>
    </mat-card>
  </div>
</div>
<!-- <mat-card *ngFor="let item of tweets" class="row">
  <mat-card-header>
    <mat-card-title>{{ item.tweet }}</mat-card-title>
    <mat-card-subtitle>Analisis NLU</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <span *ngFor="let elem of item.analysis">
      <p>{{ elem.type }} : {{ elem.text }}</p>
    </span>
  </mat-card-content>
</mat-card> -->
