<div class="doc-header">
  <div class="title">¡Bienvenido a Oilapp!</div>
</div>
<!-- <mat-divider> </mat-divider> -->
<div class="row">
  <h1 class="text">
    Oilapp te permitirá tomar decisiones acertadas mostrando los comentarios
    acerca de la industria del petróleo y observar el historial de búsquedas con
    sus resultados.
    <br /><br />
    Puedes empezar buscando por un hashtag relacionado con la industria del
    petróleo o puedes probar el análisis por texto, como también el análisis por
    archivos:
  </h1>

  <div style="display: flex; margin-top: 50px;">
    <span class="button-container"></span>
    <button mat-raised-button color="accent" routerLink="/texto">
      Análisis de texto
    </button>
    <span class="button-container"></span>
    <button mat-raised-button color="accent" routerLink="/archivo">
      Análisis por archivos
    </button>
    <span class="button-container"></span>
  </div>
</div>
